* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
}

.app-body {
    width: 400px;
    height: 600px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 40px;
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
}

.btn-container {
    background-color:rgb(245, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 45px);
    justify-content: stretch;
    gap: 4px;

}

button {
    width: 45px;

}
