* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(15, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
}

.app-body {
    width: 300px;
    height: 600px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 40px;
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
}

.display {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    border: 5px solid red;
    align-self: flex-end;
    
    
}

.result-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-container {
    
    display: grid;
    grid-template-columns: repeat(4, 75px);
    justify-content: stretch;
    gap: 4px;
    
    
    

}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}
