* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
}



@media (prefers-color-scheme: dark){
    *{
        background-color: rgb(18, 18, 18);
        color: rgb(255, 255, 255);
    }
    body{
        background-color: #121212;
        color: rgb(255, 255, 255);
    }
} 

.app-body {
    width: 300px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 20px;
}

.light-dark-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 30px;
    background-color: rgb(161, 96, 251);
    border-radius: 50px;
}

.display {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    align-self: flex-end;   
}

.rslt-disp {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-container { 
    display: grid;
    grid-template-columns: repeat(4, 75px);
    gap: 5px;
}

button {
    border: none;
    border-radius: 10px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.equals {
    background-color: rgb(161, 96, 251);
}